body {
    font-family: arial;
    background-color: cornsilk;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
input {
    display: block;
    margin: 20px 0;
}
p, .error {
    flex-basis: 100%;
    text-align: center;
}
a {
    color: red;
    text-decoration: none;
    text-align: center;
}
.error {
    color: red;
    font-weight: bold;
}
span {
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
