* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu {
    height: 45px;
    background-color: darksalmon;
}
.header {
    height: 80px;
    background-color: red;
}
.content1 {
    display: flex;
    flex-basis: 75%;
    height: 170px;
    background-color: darkorange;
}
.content2 {
    display: flex;
    flex-basis: 75%;
    height: 170px;
    background-color: blue;
}
.content3 {
    display: flex;
    flex-basis: 75%;
    height: 170px;
    background-color: gray;
}
.sidebar {
    display: flex;
    flex-basis: 25%;
    color: gray;
    background-color: yellow;
}
.footer {
    height: 45px;
    background-color: green;
}
