@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0px;
}
.p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 95%;
    text-decoration: underline;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    text-transform: uppercase;
}
